@font-face {
  font-family: "TypoldLt";
  font-weight: 200;
  src: url(../css/fonts/typold-light.otf) format("opentype"); }

@font-face {
  font-family: "TypoldReg";
  font-weight: 400;
  src: url(../css/fonts/typold-regular.otf) format("opentype"); }

@font-face {
  font-family: "TypoldBd";
  font-weight: 800;
  src: url(../css/fonts/typold-bold.otf) format("opentype"); }

@font-face {
  font-family: "TypoldIt";
  text-decoration: italic;
  src: url(../css/fonts/typold-italic.otf) format("opentype"); }

/* Variables */
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none; }
  html body {
    background-color: #E6E0DA;
    font-family: "TypoldReg", sans-serif;
    min-height: 100vh;
    margin: 0; }
    html body .chat {
      position: fixed;
      top: 88%;
      right: 4%;
      z-index: 2;
      transition: all .2s ease-in-out; }
      @media only screen and (min-width: 1024px) {
        html body .chat {
          top: 84%; } }
      html body .chat:hover {
        transform: scale(1.1); }
      html body .chat img {
        width: 4rem;
        height: 4rem; }

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 1rem; }
  @media only screen and (min-width: 1024px) {
    .nav {
      top: 0;
      margin-top: 1rem;
      padding: 0 8rem; } }
  @media only screen and (min-width: 1024px) {
    .nav .nav-header {
      display: inline;
      width: 20%; } }
  @media only screen and (min-width: 1024px) {
    .nav .nav-header .nav-logo {
      display: inline-block;
      width: 50%; } }
  .nav .nav-header .nav-logo img {
    width: 5rem;
    height: auto;
    margin-left: 1rem; }
    @media only screen and (min-width: 1024px) {
      .nav .nav-header .nav-logo img {
        width: 6rem;
        height: auto; } }
  .nav .nav-btn {
    display: inline-block;
    position: relative; }
    @media only screen and (min-width: 1024px) {
      .nav .nav-btn {
        display: none; } }
    .nav .nav-btn label {
      display: inline-block;
      width: 40px;
      height: 50px;
      padding-top: 1rem; }
      .nav .nav-btn label span {
        display: block;
        width: 35px;
        height: 10px;
        border-top: 2px solid #26221E; }
  .nav .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: #8c857ee8;
    height: 0px;
    transition: all 0.2s ease-in-out;
    overflow-y: hidden;
    top: 4rem; }
    @media only screen and (min-width: 1024px) {
      .nav .nav-links {
        width: auto;
        position: relative;
        display: flex;
        align-items: center;
        height: auto;
        background-color: transparent;
        font-size: 16px;
        top: 0; } }
    .nav .nav-links a {
      position: relative;
      display: block;
      width: 100%;
      padding: 0 0 2rem 0;
      text-align: right;
      color: #26221E;
      font-family: "TypoldReg", sans-serif;
      font-weight: 400;
      text-decoration: none;
      top: 1rem;
      right: 2rem;
      color: #E6E0DA; }
      @media only screen and (min-width: 1024px) {
        .nav .nav-links a {
          font-size: 0.9rem;
          width: fit-content;
          margin: 0 0 0 3.5rem;
          justify-self: flex-end;
          color: #26221E; }
          .nav .nav-links a:hover {
            color: #FF7900;
            font-weight: 600; } }
    .nav .nav-links .btn-header {
      font-family: "TypoldReg", sans-serif;
      width: auto;
      height: auto;
      color: #E6E0DA;
      background: #FF7900;
      font-size: .9rem;
      padding: 0.5rem 1rem 0.7rem;
      margin-top: 0.8rem;
      margin-bottom: 1rem;
      margin-right: 1.8rem;
      border: none;
      cursor: pointer;
      float: right; }
      .nav .nav-links .btn-header:hover {
        background-color: #df7213; }
      @media only screen and (min-width: 1024px) {
        .nav .nav-links .btn-header {
          padding: 0.5rem 1rem 0.7rem;
          margin-top: 1rem;
          margin-left: 1.5rem;
          margin-bottom: 1rem; } }

#nav-check {
  display: none; }
  @media only screen and (max-width: 1024px) {
    #nav-check:not(:checked) ~ .nav-links {
      height: 0px; }
    #nav-check:checked ~ .nav-links {
      padding: 1rem;
      height: auto;
      overflow-y: auto; } }

/* .nav {
    position: relative;
    height: 3rem;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 1rem;
    right: 0 !important;

    @media (max-width:1024px) {
        width: 90%;
        padding-top: 0.5rem;
    }

    .nav-header {
        display: inline;

        .nav-logo {
            display: inline-block;
        }
    }

    .nav-btn {
        display: none;

        @media (max-width:1224px) {
            display: inline-block;
            position: relative;
        }

        label {
            
            @media (max-width:1224px) {
                display: inline-block;
                width: 40px;
                height: 50px;
                padding-top: 1rem;
            }

            span {
                @media (max-width:1224px) {
                    display: block;
                    width: 35px;
                    height: 10px;
                    border-top: 2px solid $dark-color;
                }
            }
        }
    }

    .nav-links {
        display: inline;
        float: right;
        font-size: $font-size;
        text-transform: uppercase;

        @media (max-width:1224px) {
            position: absolute;
            display: block;
            width: 90%;
            background-color: $middle-color;
            height: 0px;
            transition: all 0.2s ease-in-out;
            overflow-y: hidden;
            top: 4rem;
        } 

        a {
            display: inline-block;
            font-family: $main-font;
            text-decoration: none;
            color: $dark-color;

            &:hover {
                color: $accent-color;
                font-weight: 600;
            }

            @media (max-width:1224px) {
                display: block;
                width: 100%;
                padding: 0 0 1rem 0;
                text-align: right;
                color: $bground-color;
                font-weight: 400;
            }
        }
    }

    #nav-check {
        display: none;

        &:not(:checked) ~ .nav-links {
            height: 0px;
        }

        &:checked ~ .nav-links {
            padding: 1rem;
            height: auto;
            overflow-y: auto;
        }

        &:checked ~ .nav-links a {
            padding-right: 4rem;
        }
    }      
}  */
main .hero {
  display: flex;
  direction: column;
  flex-wrap: wrap-reverse; }
  @media only screen and (min-width: 1024px) {
    main .hero {
      display: flex;
      direction: row;
      flex-wrap: nowrap;
      align-items: flex-start;
      justify-content: space-between;
      margin-top: 4rem;
      margin-bottom: 0; } }
  @media only screen and (min-width: 1024px) {
    main .hero .img-hero {
      width: 50%; } }
  main .hero .img-hero img {
    width: 100%; }
    @media only screen and (min-width: 1024px) {
      main .hero .img-hero img {
        width: 100%; } }
  main .hero .text-box-hero {
    width: 80%;
    margin-top: 2rem;
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start; }
    @media only screen and (min-width: 1024px) {
      main .hero .text-box-hero {
        width: 50%;
        margin-left: 6rem;
        margin-top: 6rem; } }
    main .hero .text-box-hero .pretitle-hero {
      font-size: 0.8rem;
      font-family: "TypoldLt", sans-serif;
      text-transform: uppercase;
      letter-spacing: 0.5rem;
      margin: 0; }
      @media only screen and (min-width: 1024px) {
        main .hero .text-box-hero .pretitle-hero {
          margin-bottom: 0.5rem; } }
    main .hero .text-box-hero h1 {
      font-family: "TypoldReg", sans-serif;
      font-size: 44.8px;
      line-height: 2.8rem;
      width: 90%;
      margin: 0.5rem 0 1rem -.2rem;
      color: #26221E; }
      @media only screen and (min-width: 1024px) {
        main .hero .text-box-hero h1 {
          font-size: 64px;
          line-height: 4.4rem;
          margin: 0 0 1.5rem -.2rem;
          width: 70%; } }
    main .hero .text-box-hero .divider-hero {
      border: #26221E 1px solid;
      background-color: #26221E;
      width: 3rem;
      margin: .5rem 0 .5rem; }
      @media only screen and (min-width: 1024px) {
        main .hero .text-box-hero .divider-hero {
          margin: 0; } }
    main .hero .text-box-hero p {
      font-family: "TypoldReg", sans-serif;
      width: 90vw;
      color: #26221E;
      line-height: 1.5rem; }
      @media only screen and (min-width: 1024px) {
        main .hero .text-box-hero p {
          margin: 1.5rem 0 0;
          width: 70%;
          color: #26221E;
          line-height: 1.5rem; } }
    main .hero .text-box-hero .btn-hero {
      font-family: "TypoldReg", sans-serif;
      width: auto;
      height: auto;
      color: #E6E0DA;
      background: #FF7900;
      font-size: 16px;
      padding: 0.6rem 1.2rem 0.8rem;
      margin-top: 0.5rem;
      margin-bottom: 1rem;
      border: none;
      box-shadow: 0px 2px 10px #77512f5b;
      cursor: pointer; }
      main .hero .text-box-hero .btn-hero:hover {
        background-color: #df7213; }
      @media only screen and (min-width: 1024px) {
        main .hero .text-box-hero .btn-hero {
          margin-top: 2rem; } }

.services {
  position: relative;
  width: 100vw;
  height: 105vh;
  background-color: #26221E;
  clip-path: polygon(0 5.5vw, 100% 0, 100% 100%, 0 100%);
  display: flex;
  direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  padding: 1rem 0 2rem 0; }
  .services h2 {
    display: none;
    visibility: hidden; }
  @media only screen and (min-width: 1024px) {
    .services {
      margin-top: -9rem !important;
      justify-content: center;
      height: 80vh; } }
  .services .list-services {
    width: 100%;
    position: relative;
    list-style: none;
    top: -3rem;
    padding-inline-start: 1rem !important; }
    .services .list-services hr.solid {
      border-top: 1px solid #E6E0DA;
      width: 90vw; }
    .services .list-services .divider-services {
      visibility: hidden; }
    .services .list-services li {
      margin-top: 1.5rem;
      margin-bottom: 0.8rem; }
      .services .list-services li a {
        text-decoration: none;
        color: #E6E0DA;
        font-size: 24px;
        font-family: "TypoldLt", sans-serif; }
        .services .list-services li a::before {
          content: '';
          border-left: 4px solid transparent;
          border-right: 4px solid transparent;
          border-top: 5px solid;
          position: inline;
          margin-right: 1rem;
          vertical-align: middle;
          vertical-align: calc(-50% - 4px); }
    @media only screen and (min-width: 1024px) {
      .services .list-services {
        margin-top: 4rem;
        width: 80vw;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 3rem;
        grid-template-rows: repeat(3, auto);
        padding-inline-start: 0 !important;
        align-items: center;
        justify-content: center;
        top: -1rem; }
        .services .list-services .solid {
          display: none; }
        .services .list-services .divider-services {
          visibility: visible;
          position: absolute;
          top: 10vh;
          border-top: 1px solid #E6E0DA;
          width: 3rem;
          align-self: center; }
        .services .list-services h2 {
          display: flex;
          align-items: flex-start;
          justify-content: flex-start;
          visibility: visible;
          color: #E6E0DA;
          grid-column: 1 / 4;
          font-family: "TypoldLt", sans-serif;
          font-size: 1.5rem;
          line-height: 1.5rem;
          width: inherit;
          margin: 2rem 0 3rem !important;
          text-transform: uppercase;
          letter-spacing: 1rem; }
        .services .list-services li {
          margin: 0 !important; }
          .services .list-services li a {
            display: flex;
            align-items: center;
            justify-content: center;
            border: 1px solid #E6E0DA;
            padding: 1rem 1rem 1.5rem 1rem;
            margin: 0 !important;
            cursor: pointer; }
            .services .list-services li a::before {
              display: none; }
            .services .list-services li a:hover {
              color: #FF7900;
              border: 1px solid #FF7900; } }
