@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* Variables */
html {
  font-size: 16px;
  box-sizing: border-box; }
  html body {
    background-color: #E6E0DA;
    font-family: "Tpold", sans-serif;
    width: 100vw; }
  html .container {
    width: 100vw;
    padding: 0 2%;
    /* iPads (portrait and landscape) ----------- */
    /* Desktops and laptops ----------- */
    /* Large screens ----------- */ }
    @media only screen and (min-width: 768px) {
      html .container {
        width: 80vw;
        padding: 0 4%; } }
    @media only screen and (min-width: 1224px) {
      html .container {
        padding: 0 6%; } }
    @media only screen and (min-width: 1824px) {
      html .container {
        padding: 0 8%; } }

.nav {
  height: 3rem;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0; }
  @media (max-width: 1024px) {
    .nav {
      width: 80vw;
      padding-top: 0.5rem; } }
  .nav .nav-header {
    display: inline; }
    .nav .nav-header .nav-logo {
      display: inline-block; }
  .nav .nav-btn {
    display: none; }
    @media (max-width: 1224px) {
      .nav .nav-btn {
        display: inline-block;
        position: absolute;
        right: 0px;
        top: 0px; } }
    @media (max-width: 1224px) {
      .nav .nav-btn label {
        display: inline-block;
        width: 50px;
        height: 50px;
        padding-top: 1rem; } }
    @media (max-width: 1224px) {
      .nav .nav-btn label span {
        display: block;
        width: 35px;
        height: 10px;
        border-top: 2px solid #26221E; } }
  .nav .nav-links {
    display: inline;
    float: right;
    font-size: 16px;
    text-transform: uppercase; }
    @media (max-width: 1224px) {
      .nav .nav-links {
        position: absolute;
        display: block;
        width: 90%;
        background-color: #8c857ee8;
        height: 0px;
        transition: all 0.2s ease-in-out;
        overflow-y: hidden;
        top: 4rem;
        left: auto; } }
    .nav .nav-links a {
      display: inline-block;
      text-decoration: none;
      color: #26221E;
      padding: 0 0 0 1rem; }
      .nav .nav-links a:hover {
        color: #FF7900;
        font-weight: 600; }
      @media (max-width: 1224px) {
        .nav .nav-links a {
          display: block;
          width: 100%;
          padding: 0 0 1rem 0;
          margin-right: 2rem;
          text-align: right;
          color: #E6E0DA;
          font-weight: 600; } }
  .nav #nav-check {
    display: none; }
    .nav #nav-check:not(:checked) ~ .nav-links {
      height: 0px; }
    .nav #nav-check:checked ~ .nav-links {
      padding: 1rem;
      height: auto;
      overflow-y: auto; }

main .hero {
  display: flex;
  direction: column;
  flex-wrap: wrap-reverse;
  margin: -0.5rem 0; }
  @media only screen and (min-width: 1024px) {
    main .hero {
      width: 80%;
      display: flex;
      direction: row;
      flex-wrap: nowrap;
      align-items: center;
      margin: 5rem 0; } }
  main .hero .img-hero {
    width: 96%; }
    @media only screen and (min-width: 1024px) {
      main .hero .img-hero {
        width: 50%; } }
    main .hero .img-hero img {
      width: 96%; }
  main .hero .text-box-hero {
    width: 90%;
    margin-bottom: 1rem; }
    @media only screen and (min-width: 1024px) {
      main .hero .text-box-hero {
        background-color: #FF7900;
        width: 50%;
        padding: 2rem; } }
    @media only screen and (min-width: 1224px) {
      main .hero .text-box-hero {
        background-color: #FF7900;
        width: 50%;
        padding: 2rem; } }
    main .hero .text-box-hero h1 {
      font-family: "Tpold", sans-serif;
      font-size: 44.8px;
      line-height: 2.8rem;
      width: 70%;
      margin: 2rem 0 1rem 0;
      color: #26221E; }
      @media only screen and (min-width: 1024px) {
        main .hero .text-box-hero h1 {
          font-size: 72px;
          line-height: 5rem;
          margin: 0 0 1rem 0; } }
    main .hero .text-box-hero p {
      width: 80%;
      color: #26221E;
      line-height: 1.5rem; }
      @media only screen and (min-width: 1024px) {
        main .hero .text-box-hero p {
          margin: 0;
          color: #26221E;
          line-height: 1.5rem; } }
    main .hero .text-box-hero .btn-hero {
      width: auto;
      height: auto;
      color: #E6E0DA;
      background: #FF7900;
      text-transform: uppercase;
      font-size: 16px;
      font-weight: 600;
      letter-spacing: 0.05rem;
      padding: 0.8rem 1.5rem;
      margin-top: 0.5rem;
      border: none;
      box-shadow: 0px 2px 10px #c76f2279; }
