@font-face {
    font-family: "TypoldLt";
    font-weight: 200;
    src: url(../css/fonts/typold-light.otf) format("opentype");
}

@font-face {
    font-family: "TypoldReg";
    font-weight: 400;
    src: url(../css/fonts/typold-regular.otf) format("opentype");
}

@font-face {
    font-family: "TypoldBd";
    font-weight: 800;
    src: url(../css/fonts/typold-bold.otf) format("opentype");
}

@font-face {
    font-family: "TypoldIt";
    text-decoration: italic;
    src: url(../css/fonts/typold-italic.otf) format("opentype");
}

@import 'base/variables';

@import 'components/generales';
@import 'components/header';
@import 'components/hero';
@import 'components/services';