html {
    font-size: $font-size;
    box-sizing: border-box;
    margin: 0 !important;

    body {
        background-color: $bground-color;
        font-family: $main-font;
        margin: 0;
        overflow: auto;
        height: 100%;
    }

    .container {
        width: 100%;
        padding: 0 2%;
        margin: 0;
    
        /* iPads (portrait and landscape) ----------- */
        @media only screen and (min-width : 768px) {
            padding: 0 4%;
        }
    
        /* Desktops and laptops ----------- */
        @media only screen and (min-width : 1224px) {
            padding: 0 6%;
            margin-top: 2%;
        }
    
        /* Large screens ----------- */
        @media only screen and (min-width : 1824px) {
            padding: 0 8%;
            margin-top: 2%;
        }
    }
}