.nav {
    position: relative;
    width: 93vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    right: 0;

    @media only screen and (min-width:1024px) {
        position: absolute;
        width: 89vw;
        top: 0;
        margin-top: 1rem;
        padding: 0 7rem;
    }

    .nav-header {
        @media only screen and (min-width:1024px) {
            display: inline;
            width: 20%;
        }

        .nav-logo {
            @media only screen and (min-width:1024px) {
                display: inline-block;
                width: 50%;
            }

            img {
                width: 5rem;
                height: auto;
                margin-left: 1rem;

                @media only screen and (min-width:1024px) {
                    width: 6rem;
                    height: auto;
                }
            }
        }
    }

    .nav-btn {
        display: inline-block;
        position: relative;

        @media only screen and (min-width:1024px) {
            display: none;
        }

        label {
            display: inline-block;
            width: 40px;
            height: 50px;
            padding-top: 1rem;

            span {
                display: block;
                width: 35px;
                height: 10px;
                border-top: 2px solid $dark-color;
            }
        }
    }

    .nav-links {
        position: absolute;
        display: block;
        width: 100%;
        background-color: $middle-color;
        height: 0px;
        transition: all 0.2s ease-in-out;
        overflow-y: hidden;
        top: 4rem;

        @media only screen and (min-width:1024px) {
            width: auto;
            position: relative;
            display: flex;
            align-items: center;
            height: auto;
            background-color: transparent;
            font-size: $font-size;
            top: 0;
            right: 0;
        }

        a {
            position: relative;
            display: block;
            width: 100%;
            padding: 0 0 2rem 0;
            text-align: right;
            color: $dark-color;
            font-family: $main-font;
            font-weight: 400;
            text-decoration: none;
            top: 1rem;
            right: 2rem;
            color: $bground-color;

            @media only screen and (min-width:1024px) {
                font-size: 0.9rem;
                width: fit-content;
                margin: 0 0 0 3.5rem;
                justify-self: flex-end;
                color: $dark-color;

                &:hover {
                    color: $accent-color;
                    font-weight: 600;
                }
            }
        }

        .btn-header {
            font-family: $main-font;
            width: auto;
            height: auto;
            color: $bground-color;
            background: $accent-color;
            font-size: .9rem;
            padding: 0.5rem 1rem 0.7rem;
            margin-top: 0.5rem;
            margin-bottom: 1rem;
            border: none;
            cursor: pointer;
            margin-left: 1.5rem;

            &:hover {
                background-color: $accent-color-hover;
            }

            @media only screen and (min-width : 1024px) {
                margin-top: 1rem;
            }
        }
    }
}



#nav-check {
    display: none;

    @media only screen and (max-width:1024px) {

        &:not(:checked)~.nav-links {
            height: 0px;
        }

        &:checked~.nav-links {
            padding: 1rem;
            height: auto;
            overflow-y: auto;
        }
    }
}

/* .nav {
    position: relative;
    height: 3rem;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 1rem;
    right: 0 !important;

    @media (max-width:1024px) {
        width: 90%;
        padding-top: 0.5rem;
    }

    .nav-header {
        display: inline;

        .nav-logo {
            display: inline-block;
        }
    }

    .nav-btn {
        display: none;

        @media (max-width:1224px) {
            display: inline-block;
            position: relative;
        }

        label {
            
            @media (max-width:1224px) {
                display: inline-block;
                width: 40px;
                height: 50px;
                padding-top: 1rem;
            }

            span {
                @media (max-width:1224px) {
                    display: block;
                    width: 35px;
                    height: 10px;
                    border-top: 2px solid $dark-color;
                }
            }
        }
    }

    .nav-links {
        display: inline;
        float: right;
        font-size: $font-size;
        text-transform: uppercase;

        @media (max-width:1224px) {
            position: absolute;
            display: block;
            width: 90%;
            background-color: $middle-color;
            height: 0px;
            transition: all 0.2s ease-in-out;
            overflow-y: hidden;
            top: 4rem;
        } 

        a {
            display: inline-block;
            font-family: $main-font;
            text-decoration: none;
            color: $dark-color;

            &:hover {
                color: $accent-color;
                font-weight: 600;
            }

            @media (max-width:1224px) {
                display: block;
                width: 100%;
                padding: 0 0 1rem 0;
                text-align: right;
                color: $bground-color;
                font-weight: 400;
            }
        }
    }

    #nav-check {
        display: none;

        &:not(:checked) ~ .nav-links {
            height: 0px;
        }

        &:checked ~ .nav-links {
            padding: 1rem;
            height: auto;
            overflow-y: auto;
        }

        &:checked ~ .nav-links a {
            padding-right: 4rem;
        }
    }      
}  */