.services {
    position: relative;
    width: 100vw;
    height: 105vh;
    background-color: $dark-color;
    clip-path: polygon(0 5.5vw, 100% 0, 100% 100%, 0 100%);
    display: flex;
    direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    padding: 1rem 0 2rem 0;

    h2 {
        display: none;
        visibility: hidden;
    }

    @media only screen and (min-width : 1024px) {
        margin-top: -9rem !important;
        justify-content: center;
        height: 80vh;
    }

    .list-services {
        width: 100%;
        position: relative;
        list-style: none;
        top: -3rem;
        padding-inline-start: 1rem !important;

        hr.solid {
            border-top: 1px solid $bground-color;
            width: 100vw - 10vw;
        }

        .divider-services {
            visibility: hidden;
        }

        li {
            margin-top: 1.5rem;
            margin-bottom: 0.8rem;

            a {
                text-decoration: none;
                color: $bground-color;
                font-size: $font-size * 1.5;
                font-family: $light-font;

                &::before {
                    content: '';
                    border-left: 4px solid transparent;
                    border-right: 4px solid transparent;
                    border-top: 5px solid;
                    position: inline;
                    margin-right: 1rem;
                    vertical-align: middle;
                    vertical-align: calc(-50% - 4px);
                }
            }
        }

        @media only screen and (min-width : 1024px) {
            margin-top: 4rem;
            width: 80vw;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-gap: 3rem;
            grid-template-rows: repeat(3, auto);
            padding-inline-start: 0 !important;
            align-items: center;
            justify-content: center;
            top: -1rem;

            .solid {
                display: none;
            }

            .divider-services {
                visibility: visible;
                position: absolute;
                top: 10vh;
                border-top: 1px solid $bground-color;
                width: 3rem;
                align-self: center;
            }

            h2 {
                display: flex;
                align-items: flex-start;
                justify-content: flex-start;
                visibility: visible;
                color: $bground-color;
                grid-column: 1 / 4;
                font-family: $light-font;
                font-size: 1.5rem;
                line-height: 1.5rem;
                width: inherit;
                margin: 2rem 0 3rem !important;
                text-transform: uppercase;
                letter-spacing: 1rem;
            }

            li {
                margin: 0 !important;

                a {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border: 1px solid $bground-color;
                    padding: 1rem 1rem 1.5rem 1rem;
                    margin: 0 !important;
                    cursor: pointer;

                    &::before {
                        display: none;
                    }

                    &:hover {
                        color: $accent-color;
                        border: 1px solid $accent-color;
                    }
                }
            }
        }


    }
}