/* Variables */

$main-font: 'TypoldReg', sans-serif;
$light-font: 'TypoldLt', sans-serif;
$bold-font: 'TypoldBd', sans-serif;
$italic-font: 'TypoldIt', sans-serif;
$bground-color:#E6E0DA;
$dark-color: #26221E;
$middle-color: #8c857ee8;
$shadow-color: #77512f5b;
$accent-color: #FF7900;
$font-size: 16px;
